*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    color: red;
}
.div-one{
    height: 600px;
    width: 800px;
    background-color: blue;
    animation-name: bitm;
    animation-duration: 10s;
    margin: 0 auto;
    display: block;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes bitm {
    0% {
        background-image: url("images/bd team.jpg");
        position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        height: 200px;
    }
    50% {
        background-image: url("images/download.jpg");
        position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
        height: 350px;
    }
    75%{
        background-image: url("images/wow.jpg");
        position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 300px;
        height: 300px;
    }
    100%{
        background-image: url("images/bd team.jpg");
        position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
        height: 400px;
    }
}
